    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

						<p>The Shining:<br/>
                        <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BZWFlYmY2MGEtZjVkYS00YzU4LTg0YjQtYzY1ZGE3NTA5NGQxXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_.jpg" alt="Poster" height="400px"/>
                        </p>
                        <p>Synopsis (via imdb):<br/>
                        A family heads to an isolated hotel for the winter where an evil and spiritual presence influences the father into violence, while his psychic son sees horrific forebodings from the past and of the future.
                        </p>

                        <%= link_to "View Ratings", {:controller => "startup", :action => "viewrating"}, :class => "btn btn-default btn-lg"  %>
                        <% #new code for takehome final %>
                        <%= link_to "View Comments", {:controller => "startup", :action => "viewcomment"}, :class => "btn btn-default btn-lg"  %>

                        <br/>

                        <%= link_to "Add A Rating", {:controller => "startup", :action => "addrating"}, :class => "btn btn-default btn-lg"  %>
                        <% #new code for takehome final %>
                        <%= link_to "Add A Comment", {:controller => "startup", :action => "addcomment"}, :class => "btn btn-default btn-lg"  %>
                        <br/>

                        <%= link_to "", {:controller => "startup"}, :class => "btn btn-circle page-scroll"  %><br/>


                    </div>
                </div>
            </div>
        </div>
    </header>
